<cdk-accordion class="example-accordion">
    <!-- Text2 Section -->
    <cdk-accordion-item #text2MessageAccordionItem="cdkAccordionItem" class="example-accordion-item">
        <div class="example-accordion-item-header" (click)="text2MessageAccordionItem.toggle()">
          Text2
          <span class="example-accordion-item-description">
            Click to {{ text2MessageAccordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div class="example-accordion-item-body" [style.display]="text2MessageAccordionItem.expanded ? '' : 'none'">
          <p>{{ text2 }}</p>
        </div>
      </cdk-accordion-item>

      <!-- OTP Section -->
    <cdk-accordion-item #sentOtpAccordionItem="cdkAccordionItem" class="example-accordion-item">
        <div class="example-accordion-item-header" (click)="sentOtpAccordionItem.toggle()">
          OTP
          <span class="example-accordion-item-description">
            Click to {{ sentOtpAccordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div class="example-accordion-item-body" [style.display]="sentOtpAccordionItem.expanded ? '' : 'none'">
          <p>{{ curkey }}</p>
        </div>
      </cdk-accordion-item>

      <!-- H2: Encrypted Message Section
    <cdk-accordion-item #encryptedMessageAccordionItemText2="cdkAccordionItem" class="example-accordion-item">
        <div class="example-accordion-item-header" (click)="encryptedMessageAccordionItemText2.toggle()">
          H2: Encrypted Message for Text2
          <span class="example-accordion-item-description">
            Click to {{ encryptedMessageAccordionItemText2.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div class="example-accordion-item-body" [style.display]="encryptedMessageAccordionItemText2.expanded ? '' : 'none'">
          <p>{{ encryptedMessageText2 }}</p>
        </div>
      </cdk-accordion-item> -->
    
      <!-- Unique Words Section for Text2 -->
    <!-- <cdk-accordion-item #uniqueWordsAccordionItemText2="cdkAccordionItem" class="example-accordion-item" [attr.aria-expanded]="uniqueWordsAccordionItemText2.expanded">
      <div class="example-accordion-item-header" (click)="uniqueWordsAccordionItemText2.toggle()">
        Unique Words for Text2
        <span class="example-accordion-item-description">
          Click to {{ uniqueWordsAccordionItemText2.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div class="example-accordion-item-body" [style.display]="uniqueWordsAccordionItemText2.expanded ? '' : 'none'">
        <ul>
          <li *ngFor="let word of uniqueWordsText2">{{ word }}</li>
        </ul>
      </div>
    </cdk-accordion-item> -->
    
    <!-- G2 Matrix Section -->
    <!-- <cdk-accordion-item #matrixAccordionItemText2="cdkAccordionItem" class="example-accordion-item" [attr.aria-expanded]="matrixAccordionItemText2.expanded">
      <div class="example-accordion-item-header" (click)="matrixAccordionItemText2.toggle()">
        G2 Matrix for Text2
        <span class="example-accordion-item-description">
          Click to {{ matrixAccordionItemText2.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div class="example-accordion-item-body" [style.display]="matrixAccordionItemText2.expanded ? '' : 'none'">
        <div class="container matrix">
          <table>
            <thead>
              <tr>
                <th>Word</th>
                <th>Matrix</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let word of uniqueWordsText2">
                <td>{{ word }}</td>
                <td>{{ matrix_g2[word].join(' ') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </cdk-accordion-item> -->
    
    

    <!-- G1 Matrix Section
    <cdk-accordion-item #matrixAccordionItem="cdkAccordionItem" class="example-accordion-item" [attr.aria-expanded]="matrixAccordionItem.expanded">
        <div class="example-accordion-item-header" (click)="matrixAccordionItem.toggle()">
          G1 Matrix for Text1
          <span class="example-accordion-item-description">
            Click to {{ matrixAccordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div class="example-accordion-item-body" [style.display]="matrixAccordionItem.expanded ? '' : 'none'">
          <div class="container matrix">
            <table>
              <thead>
                <tr>
                  <th>Word</th>
                  <th>Matrix</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let word of uniqueWordsText1">
                  <td>{{ word }}</td>
                  <td>{{ matrix_g[word].join(' ') }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </cdk-accordion-item>

      Unique Words Section
    <cdk-accordion-item #uniqueWordsAccordionItem="cdkAccordionItem" class="example-accordion-item" [attr.aria-expanded]="uniqueWordsAccordionItem.expanded">
        <div class="example-accordion-item-header" (click)="uniqueWordsAccordionItem.toggle()">
          Unique Words for Text1
          <span class="example-accordion-item-description">
            Click to {{ uniqueWordsAccordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div class="example-accordion-item-body" [style.display]="uniqueWordsAccordionItem.expanded ? '' : 'none'">
          <ul>
            <li *ngFor="let word of uniqueWordsText1">{{ word }}</li>
          </ul>
        </div>
      </cdk-accordion-item>


    
  Encrypted Message Section
  <cdk-accordion-item #encryptedMessageAccordionItem="cdkAccordionItem" class="example-accordion-item">
    <div class="example-accordion-item-header" (click)="encryptedMessageAccordionItem.toggle()">
      H1: Encrypted Message for Text1
      <span class="example-accordion-item-description">
        Click to {{ encryptedMessageAccordionItem.expanded ? 'close' : 'open' }}
      </span>
    </div>
    <div class="example-accordion-item-body" [style.display]="encryptedMessageAccordionItem.expanded ? '' : 'none'">
      <p>{{ encryptedMessageText1 }}</p>
    </div>
  </cdk-accordion-item>
    
  
    
  
    
  
    

    <!-- Sent Message Section
    <cdk-accordion-item #sentMessageAccordionItem="cdkAccordionItem" class="example-accordion-item-text1">
        <div class="example-accordion-item-header-text1" (click)="sentMessageAccordionItem.toggle()">
          Text1
          <span class="example-accordion-item-description">
            Click to {{ sentMessageAccordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>
        <div class="example-accordion-item-body-text1" [style.display]="sentMessageAccordionItem.expanded ? '' : 'none'">
          <p>{{ text1 }}</p>
        </div>
      </cdk-accordion-item> 
    -->
</cdk-accordion>


<div class="example-accordion-item-body">
  <div class="container matrix">
    <table>
      <thead>
        <tr>
          <th>Word</th>
          <th>Matrix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of uniqueWordsText2">
          <td>{{ word }}</td>
          <td>{{ matrix_g2[word].join(' ') }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
   
  <button (click)="navigateToShowG1()">Next</button>
